@{
    Layout = "";
}
<html lang="zh-Hant-TW">
    <head>
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="~/css/HomePageStyle.css">
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    </head>
    <meta charset="utf-8"></meta>
    <body>
        <div class="fullPage">
            <div class="mainPage">
                <div class="topNav">
                    <div class="logoLink">
                        <a asp-controller="Home" asp-action="Demo">
                            <div class="logo">
                            </div>
                        </a>
                    </div>
                    <div class="toolbar">
                        <div class="separate"></div>
                        <div class="toolButton functionButton">
                            <h4>&nbsp;
                                <span class="glyphicon glyphicon-plus">
                                </span> 
                                <br>新增
                            </h4>
                        </div>
                        <div class="toolButton functionButton">
                            <h4>&nbsp;
                                <span class="glyphicon glyphicon-pencil">
                                </span> 
                                <br>修改
                            </h4>
                        </div>
                        <div class="toolButton functionButton">
                            <h4>&nbsp;
                                <span class="glyphicon glyphicon-remove">
                                </span> 
                                <br>作廢
                            </h4>                            
                        </div>
                        <div class="toolButton functionButton">
                            <h4>&nbsp;
                                <span class="glyphicon glyphicon-search">
                                </span> 
                                <br>查詢
                            </h4>
                        </div>
                        <div class="toolButton homeButton">
                            <h4>&nbsp;
                                <span class="glyphicon glyphicon-home">
                                </span> 
                                <br>首頁
                            </h4>
                        </div>
                    </div>
                </div>
                <div class="bottomContent">
                    <div class="leftMenuBlock">
                        <div class="leftMenu" id="leftMenu">
                            <div class="menuGroup">
                                <div class="menuHead" child="#userMenuBody">
                                    <div class ="triangle-right"></div>
                                    使用者設定
                                </div>
                                <div class="collapse" id="userMenuBody">
                                    <div class="menuBody">使用者帳號設定</div>
                                    <div class="menuBody">使用者帳號設定1</div>
                                </div>
                            </div>
                            <div class="menuGroup">
                                <div class="menuHead" child="#otherMenuBody">
                                    <div class ="triangle-right"></div>
                                    使用者設定1
                                </div>
                                <div class="collapse" id="otherMenuBody">
                                    <div class="menuBody">Hi</div>
                                </div>
                            </div>
                            <div class="menuGroup">
                                <div class="menuHead" child="#testMenuBody">
                                    <div class ="triangle-right"></div>
                                    使用者設定1
                                </div>
                                <div class="collapse" id="testMenuBody">
                                    <div class="menuBody">Hi</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mainContent">
                        <div class="systemBulletin bulletin">
                            <span><h4>系統公告</h4></span>
                            <p>這裡是系統公告顯示的地方</p>
                        </div>
                        <div class="userBulletin bulletin">
                            <h4>使用者公告</h4>
                            <p>這裡是使用者公告顯示的地方</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script>
           $(document).ready(function(){
                $(".menuHead").each(function(index,ele){
                    $(this).on("click",function(){ 
                        if($(this).children(".triangle-right").attr('class').indexOf("arrowRotate") < 0) {
                            $(".menuHead").children(".triangle-right").removeClass('arrowRotate');
                        }
                        $(this).children(".triangle-right").toggleClass('arrowRotate');
                    });
                });
            });

            $(".menuHead").click(function(){
                var child = $(this).attr('child');
                if($(child).css("display") === "none"){
                    $(".collapse").slideUp();
                }
                $(child).slideToggle()
            });
        </script>
    </body>
</html>